<div class="containerForgot">
    <div class="padraoSite">
        <div class="boxForgot">
            <h3 class="titleForgot">Insira seu email</h3>
            <form action="" method="post" class="forgotForm">
                <div class="imgForgot">
                    <img src="/cetdabar/res/site/assets/login/search-detective-svgrepo-com.svg" alt="">
                </div>
                <div class="containerInput">
                    <div class="inputForgot">
                        <label>E-mail</label>
                        <input type="email" name="email">
                    </div>
                    <button btn-bg-color="secondary" type="submit" class="btnForgot">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>