.boxImgPreview{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.boxImgPreview .imgPreview{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 320px) {
    .boxImgPreview .imgPreview{
        width: 280px;
        height: 280px;
        object-fit: cover;
    }
}