<div class="containerForgot">
    <div class="padraoSite">
        <div class="boxForgot">
            <h3 class="titleForgot">Insira uma nova senha</h3>
            <form action="" method="post" class="forgotForm">
                <div class="imgForgot">
                    <img src="/cetdabar/res/site/assets/login/lock-padlock-svgrepo-com.svg" alt="">
                </div>
                <div class="containerInput">
                    <input type="hidden" name="code" value="{$code}">
                    <div class="inputForgot">
                        <label>Senha</label>
                        <input type="password" name="pass">
                    </div>
                    <div class="inputForgot">
                        <label>Confirmar senha</label>
                        <input type="password" name="cpass">
                    </div>
                    <button btn-bg-color="secondary" type="submit" class="btnForgot">Alterar Senha</button>
                </div>
            </form>
        </div>
    </div>
</div>