    <footer bg-color="medium">
        <div class="logoRodape">
            <img src="res/site/assets/logo/logo-dabar-verde.svg" alt="">
        </div>
        <div class="padraoSite">
            <ul class="navRodape">
                <li><a href="/cetdabar/">Início</a></li>
                <li><a href="/cetdabar/sobre">Sobre</a></li>
                <li><a href="/cetdabar/cursos">Cursos</a></li>
                <li><a href="/cetdabar/blog">Blog</a></li>
                <li><a href="/cetdabar/contato">Contato</a></li>
            </ul>
            <div class="socialBase">
                <a href="https://www.facebook.com/CETDABAR" target="_blank">
                    <div btn-bg-color="secondary"><i class="fa-brands fa-facebook-f"></i></div>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5511930546947&text=Olá, gostaria de saber mais sobre a Dabar" target="_blank">
                    <div btn-bg-color="secondary"><i class="fa-brands fa-whatsapp"></i></div>
                </a>
                <a href="https://www.youtube.com/channel/UCXieQGFmE_MwiaA6T9qlyEQ" target="_blank">
                    <div btn-bg-color="secondary"><i class="fa-brands fa-youtube"></i></div>
                </a>
                <a href="https://www.instagram.com/fabio.dabar/" target="_blank">
                    <div btn-bg-color="secondary"><i class="fa-brands fa-instagram"></i></i></div>
                </a>
            </div>
        </div>
        <div class="contatoRodape">
            <div class="email">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <p>cetdabar@gmail.com</p>
            </div>
            <div class="telefone">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <p>11 2891-8736/99318-2269</p>
            </div>
            <div class="local">
                <div class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <p>Av. Deputado Castro de Carvalho, 1695, Vila Áurea, Poá, SP</p>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/cetdabar/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/cetdabar/res/site/js/global/global.js"></script>
    <script src="/cetdabar/res/site/js/header/header.js"></script>
    <script src="/cetdabar/res/site/js/home/home.js"></script>
</body>

</html>